<%- include("header"); %>
<h1 class="about-header">✨ Welcome to Egypt Intellectual Society ✨</h1>
<p class="about-body">A place where you will meet your next new best friend. An online community that simulates
   the intellectual college club experience which many cannot or couldn't get. We will provide you with unique
   experiences and a safe space to discuss and debate controversial topics with others while doing all the fun stuff
   too i.e. games, anime streams and events.</p>

<%- include("footer"); %>
