<%- include("header"); %>


<h1>News 📰</h1>
<div class="announcements ">
  <% announcements.forEach((announcement) =>{ %>
    <div class="blockquote">
      <p class="announcement-time"><%= announcement.time%></p>
      <p class="announcement-body"><%= announcement.body%></p>
      <!-- <hr class="horizontal-line"> -->
    </div>

  <% }); %>
</div>


<%- include("footer"); %>
