  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="new.js" charset="utf-8"></script>
  </body>
  <footer class="footer">
    <p>©️ Copyright EIS - Egypt Intellectual Society</p>
    <a class="facebook" href="../facebook"><i class="fab fa-facebook footer-fav"></i></a>
    <a class="instagram" href="../instagram"><i class="fab fa-instagram footer-fav"></i></a>
    <a class="twitter" href="../twitter"><i class="fab fa-twitter footer-fav"></i></a>
    <a class="youtube"href="../youtube"><i class="fab fa-youtube footer-fav"></i></a>
  </footer>
</html>
