  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="new.js" charset="utf-8"></script>
  </body>
  <footer class="footer">
    <p>©️ Copyright EIS - Egypt Intellectual Society</p>
    <a class="facebook" href="../facebook" target="_blank"><i class="fab fa-facebook footer-fav"></i></a>
    <a class="instagram" href="../instagram" target="_blank"><i class="fab fa-instagram footer-fav"></i></a>
    <a class="twitter" href="../twitter" target="_blank"><i class="fab fa-twitter footer-fav"></i></a>
    <a class="youtube"href="../youtube" target="_blank"><i class="fab fa-youtube footer-fav"></i></a>
    <a class="github"href="../github" target="_blank"><i class="fab fa-github footer-fav"></i>
  </footer>
</html>
