<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="description" content="We proud ourselves of being the pioneers of competitive debating in Egypt, Feeling bored? Join our gaming, anime and movies nights. We shall fulfill your every desire. Get ready for our Gaming Tournaments" charset="utf-8">
  <title>Egyist</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
  <link rel="shortcut icon" href="images/favicon.ico">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
  <!-- font awesome / fav icons -->
  <script src="https://kit.fontawesome.com/85600680f5.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles.css">

</head>

<body>
  <div class="header">


    <nav class="navbar navbar-expand-lg navbar-dark  navbar-home">
      <a class="navbar-brand nav-brand-header" href="../">Egyist</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link navbar-item" href="../news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-item" href="../about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-item" href="../why-Egyist">Why-Egyist?</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link navbar-item" href="../signUpForTournament">Forms</a>

          </li>
          <li class="nav-item navbar-item">
            <a class="nav-link" href="../blog">Blog</a>
          </li>
          <li class="nav-item navbar-item">
            <a class="nav-link" href="../support">Support</a>
          </li>
        </ul>

      </div>
    </nav>
  </div>
