<%- include("header"); %>

<div class="home-page container-fluid">
  <div class="row">


    <div class=" col-md-6 col-sm-6">
      <div class="home-buttons">
        <h1 class="header-h1" >Join Our Server for different activities and make new friends and debate with them!</h1>
        <form class="form-home" action="../discord_home" method="post">
          <button type="submit" class="btn btn-lg  buttons" name="discord"><i class="fab fa-discord"></i>Sign Up for Discord</button>

        </form>
        <form class="form-home" action="../our_server" method="post">
          <button type="submit" class="btn btn-lg  buttons" name="our_server" ><i class="fab fa-discord"></i>Join Our Server</button>
        </form>


      </div>

    </div>
    <div class="col-md-6 col-sm-6">
      <iframe class="youtube-video" src="https://www.youtube.com/embed/2NyRXM2hv9U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>


  </div>

</div>

<%- include("footer"); %>
