<%- include("header"); %>



<h1 class="sign-up"><i class="arrow right"></i> Sign Up for Our Tournament</h1>
<div class="sign-up-for-tournament">
<form>
  <div class="row SignUp-Form">

    <div class="col-lg-6">
      <label class="form-label">Tournament</label>
      <br>
      <label class="form-label">Discord Username</label>
      <br>
      <label class="form-label">Email Address</label>
    </div>

    <div class="col-lg-6">
      <select class="form-control" >
        <option value="volvo">Debate</option>
        <option value="saab">League of Legends</option>

      </select>
      <br>
      <input type="text" class="form-control" name="" value="">
      <br>
      <input type="email" class="form-control" name="" value="">
      <br>
    </div>

  </div>
  <button class="buttons btn" type="submit" name="button">Submit</button>
</form>
</div>
<%- include("footer"); %>
