<%- include("header"); %>

<% if (formType == "signUp") { %>

<h1>Successfully signed up for tournament</h1>

<% } else if (formType == "applyForStaff") { %>

<h1>Successfully applied for staff</h1>

<% } else if (formType == "Support") { %>

<h1>Successfully Submitted your issue!</h1>

<% } %>



<%- include("footer"); %>
