<%- include("header"); %>
<h1 class="about-header">Why EIS ?</h1>
<div class=" why-eis row">
  <div class="col-lg-4 col-md-6">
    <h1>Debating 🗣️</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere augue lectus, ac congue erat suscipit ut. Ut ante ante, vulputate vitae bibendum sagittis, sodales eget neque. Maecenas facilisis feugiat magna, et condimentum lorem maximus eget. Aliquam eleifend nisl eros, vitae auctor urna varius vitae. Quisque sodales, justo eu finibus faucibus, ante sem imperdiet libero, eu maximus diam purus vel mi. Sed auctor sodales neque et tincidunt. Quisque tincidunt mauris a tortor cursus semper. Sed sed dolor nulla. Sed ullamcorper imperdiet mi, sit amet tristique sem convallis eu. Fusce pulvinar luctus leo, ac tristique nisl varius et. Vestibulum dignissim lacus ut neque tristique dapibus. Pellentesque laoreet non risus in aliquam.
      </p>
  </div>
  <div class="col-lg-4 col-md-6">
    <h1>Gaming 🎮</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere augue lectus, ac congue erat suscipit ut. Ut ante ante, vulputate vitae bibendum sagittis, sodales eget neque. Maecenas facilisis feugiat magna, et condimentum lorem maximus eget. Aliquam eleifend nisl eros, vitae auctor urna varius vitae. Quisque sodales, justo eu finibus faucibus, ante sem imperdiet libero, eu maximus diam purus vel mi. Sed auctor sodales neque et tincidunt. Quisque tincidunt mauris a tortor cursus semper. Sed sed dolor nulla. Sed ullamcorper imperdiet mi, sit amet tristique sem convallis eu. Fusce pulvinar luctus leo, ac tristique nisl varius et. Vestibulum dignissim lacus ut neque tristique dapibus. Pellentesque laoreet non risus in aliquam.
      </p>
  </div>
  <div class="col-lg-4 col-md-6">
    <h1>Anime / Movies 💻</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere augue lectus, ac congue erat suscipit ut. Ut ante ante, vulputate vitae bibendum sagittis, sodales eget neque. Maecenas facilisis feugiat magna, et condimentum lorem maximus eget. Aliquam eleifend nisl eros, vitae auctor urna varius vitae. Quisque sodales, justo eu finibus faucibus, ante sem imperdiet libero, eu maximus diam purus vel mi. Sed auctor sodales neque et tincidunt. Quisque tincidunt mauris a tortor cursus semper. Sed sed dolor nulla. Sed ullamcorper imperdiet mi, sit amet tristique sem convallis eu. Fusce pulvinar luctus leo, ac tristique nisl varius et. Vestibulum dignissim lacus ut neque tristique dapibus. Pellentesque laoreet non risus in aliquam.
      </p>
  </div>
</div>
<%- include("footer"); %>
